body {
  background: papayawhip;
}

.container1 {
  displays: flex;
  min-height: 99vh;
  flex-direction: column;
  row-gap: .5em;
}

.container, .main, header, footer {
  border: 1px solid gray;
}















